@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container {
    background-color: #2d3a8c;
    width: 100vw;
    padding-top: 20px;
}

.hello-heading {
    font-family: "Roboto";
    font-size: 18px;
    color: #cbd2d9;
    padding-left: 10px;
}

.name-heading {
    font-family: "Roboto";
    font-size: 25px;
    color: #ffffff;
    padding-left: 10px;
}

.second-container {
    background-color: #ffffff;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bookmark-site-main-heading {
    font-family: "Roboto";
    font-size: 18px;
    color: #7b8794;
    text-align: center;
    padding-top: 20px;

}

.form-container {
    background-color: #f5f7fa;
    border-radius: 20px;
    padding: 25px;
    margin: 38px;
    margin-top: 20px;
}

.label-text {
    font-family: "Roboto";
    font-size: 13px;
    color: #7b8794;
    font-weight: bold;
}

.custom-button {
    background-color: #21396c;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-width: 0;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
}

.list-style {
    list-style: none;
}

.visit-website-container {
    background-color: #f5f7fa;
    border-radius: 10px;
    padding: 10px;
    margin-right: 38px;
    margin-bottom: 10px;


}

.list-label {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    color: #323f4b;
    padding-top: 10px;
}

.visit-ancher {
    font-family: "Roboto";
    font-size: 14px;
    color: #ffffff;
}

.error-msg {
    font-family: "Roboto";
    font-size: 10px;
    color: red;
    font-weight: bold;
}